/*.sidebar-nav, .sidebar-nav li, .sidebar-nav a {
	background-color: #3e444c;
}

.sidebar-nav li:hover , .sidebar-nav:hover a{
	background-color: gray;
}*/
.accordion-toggle {
	cursor:pointer;
}

/*.navbar-brand, .navbar-brand span  {
	position: absolute;
	top: 6px;
}*/
/*
.navbar-brand span{
	left: 25px;
}
.navbar-brand span.text{
	left: 55px;
}*/
.sidebar-nav {
	border-radius: 5px;
	border: solid 1px #dadada;
}

.sidebar-nav li {
	border-bottom: solid 1px #dadada;
}

.view-container {
	margin-top:80px;
}
ul.nav li a{
	overflow:hidden;
}
.summary {
	overflow: hidden;
	margin-top: 10px;
}
