/*.sidebar-nav, .sidebar-nav li, .sidebar-nav a {
	background-color: #3e444c;
}

.sidebar-nav li:hover , .sidebar-nav:hover a{
	background-color: gray;
}*/
.accordion-toggle {
	cursor:pointer;
}

.navbar {
	box-shadow: rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.117647) 0px 1px 5px 0px;
	background-color: rgb(63, 81, 181);
}

a {
	color: rgb(63, 81, 181);
}
.open-link {
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.117647) 0px 1px 5px 0px;
}
/*.navbar-brand, .navbar-brand span  {
	position: absolute;
	top: 6px;
}*/
/*
.navbar-brand span{
	left: 25px;
}
.navbar-brand span.text{
	left: 55px;
}*/
.sidebar-nav {
	border-radius: 5px;
	border: solid 1px #dadada;
}

.sidebar-nav li {
	border-bottom: solid 1px #dadada;
}

.view-container {
	margin-top:80px;
}
ul.nav li a{
	overflow:hidden;
}
.summary {
	overflow: hidden;
	margin-top: 10px;
}
